{% load static %}
<html>
    <head>
        <title>Test Base</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        
        <script src="{% static 'js/add_remove.js' %}"></script>  


        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
        <div class="page-header">
            <h1><a href="/">Test Base</a></h1>
            {% if user.is_authenticated and request.get_full_path == "/"%}
                <a href="{% url 'new_test_case' %}" class="btn btn-default">Add new test-case +</a>
                <a href="/admin/" class="btn btn-default">Admin page</a>
                <a href="/create_normal/" class="btn btn-default">Example page</a>
                <a href="/book_list" class="btn btn-default">Book list</a>
                <a href="/test_page/" class="btn btn-default">Test page</a>
                <a href="/tests_list/" class="btn btn-default">Test lists</a>
            {% elif user.is_authenticated == False %}
                <a href="/admin" class="btn btn-default">Login</a>
            {% endif %}
        </div>
            {% if user.is_authenticated %}
            <div class="content container">
                <div class="row">
                    <div class="col-md-20">
                        {% block content %}
                        {% endblock %}
                    </div>
                </div>
            </div> 
            {% endif %}       
    </body>
</html>


