{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
    {% for post in posts %}
        <div class="post"> 
        	<p>
        	<a href="{% url 'post_detail' pk=post.pk %}">
        	[Test-case-{{ post.pk }}] | {{ post.author }} | <h3>{{ post.title }}</h3>
        	</a>
            <div class="tags">
                {% for tag in tags %}   
                    {% if tag.test_case.pk == post.pk %} 
                    
                    <form action="/" method="post">
                        {% csrf_token %}
                        <div class="tags">
                            <button type="submit" name="tags" value="{{tag}}" class="btn-link">{{tag}}</button>
                        </div>
                    </form>       
                        
                    {% endif %}
                {% endfor %}
            </div>
            <br>
            <br>
        	<a class="btn btn-default" href="{% url 'post_delete' pk=post.pk %}" onclick="return confirm('Удалить тест-кейс {{post.pk}}?');"><span class="glyphicon glyphicon-trash"></span></a>
        	<hr>
       </div>
    {% endfor %}
{% endblock %}§