{% extends 'blog/base.html' %}
{% block content %}
    <div class="post">
        {% if post.published_date %}
            <div class="date">
                {{ post.published_date }}
            </div>
        {% endif %}
        {% if user.is_authenticated %}
        	<a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
        	<a class="btn btn-default" href="{% url 'post_delete' pk=post.pk %}"><span class="glyphicon glyphicon-trash"></span></a>

        {% endif %}
        <h1>{{ post.title }}</h1>
        <p>{{ post.goals|linebreaksbr }}</p>
        <p>{{ post.tags|linebreaksbr }}</p>
        <p>{{ post.requirements|linebreaksbr }}</p>
        <p>{{ post.stage|linebreaksbr }}</p>
        <p>{{ post.pre_conditions|linebreaksbr }}</p>
        <p>{{ post.variants|linebreaksbr }}</p>
        <p>{{ post.steps|linebreaksbr }}</p>
    </div>
{% endblock %}