{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
	<title>Edit test-case</title>
</head>
<body>
<h1>Edit test-case</h1>
	<form method="POST" class="post-form">
		<button type="submit" class="btn btn-success" style="float: right;">Save</button>
		<hr>
		{% csrf_token %}
	    {{ form.as_p }}
	    <!--
	    <INPUT type="button" value="Add Row" class="btn btn-info" onclick="addRow('dataTable')" />
	    <INPUT type="button" value="Delete Row" class="btn btn-danger" onclick="deleteRow('dataTable')" />-->
	    <hr>
	    <input type="" placeholder="tags" value="{% for tag in tags %}{%if not forloop.last %}{{tag}},{%else%}{{tag}}{% endif %}{% endfor %}" name="tags">
		<br>
	    <TABLE id="dataTable" width="100%" border="0" class="steps_results" style="display: none;">
	        <tr>
	            <th scope=«col» style="width: 50px;"></th>
	            <th scope=«col»>Steps</th>
	            <th scope=«col»>Results</th>
	        </tr>
	    {% for item in steps %}
	        <TR>
	            <TD><INPUT type="checkbox" name="chk"/></TD>
				<td><textarea name='step_{{ item.pk }}' cols='10' rows='1' required id='id_step'>{{ item.step }}</textarea></td>
	        	<td><textarea name='result_{{ item.pk }}' cols='10' rows='1' required id='id_result_{{ item.pk }}'>{{ item.result }}</textarea></td>
	        </TR>
	    	<!-- 2
	        <tr>
	        	<td><textarea name='step_{{ item.pk }}' cols='10' rows='1' required id='id_step'>{{ item.step }}</textarea></td>
	        	<td><textarea name='result_{{ item.pk }}' cols='10' rows='1' required id='id_result_{{ item.pk }}'>{{ item.result }}</textarea></td>
	        	<td align="center"><button id="rem_button_{{ item.pk }}" type="button" class="btn btn-danger">X</button></td>
	        </tr>
	    	-->
	    	<!-- 1
	        <tr><th><label for='id_step_{{ forloop.counter }}'>Step:</label></th><td><textarea name='step_{{ forloop.counter }}' cols='10' rows='1' required id='id_step'>{{ item.step }}</textarea></td></tr>
	        <tr><th><label for='id_result_{{ forloop.counter }}'>Result:</label></th><td><textarea name='result_{{ forloop.counter }}' cols='10' rows='1' required id='id_result_{{ forloop.counter }}'>{{ item.result }}</textarea></td></tr>
	        <button id="rem_button_{{ forloop.counter }}" type="button">X</button>-->
	    {% endfor %}
		</table>
		<!--
	    <div id="new_chq"></div>
	    <input type="hidden" value="{{count}}" id="total_chq">-->
	</form>
<br>
<button type="button" class="btn btn-info" onclick="addRow('dataTable')">Add step</button>
<button type="button" class="btn btn-danger" onclick="deleteRow('dataTable')">Delete</button>
<!--<button type="button" class="btn btn-info" onclick="add()" style="float: right;">Add step</button>-->

{% endblock %}
</body>
</html>
