{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
    <h1>Edit test-case</h1>
    <form method="POST" class="post-form">
    	<button type="submit" class="save btn btn-default">Save</button>
    	{% csrf_token %}
        {{ form.as_p }}
        {{count}}
        {% for item in steps %}
            <label>Step:</label>	
			<input type="text" value="{{ item.step }}">
			<label>Result:</label>
			<input type="text" value="{{ item.result }}">
        {% endfor %}
        <div id="new_chq"></div>
        <input type="hidden" value="{{count}}" id="total_chq">
    </form>
  <br>
  <button class="save btn btn-default" onclick="add()">Add step</button>



{% endblock %}