{% extends 'blog/base.html' %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
	<title>New test-case</title>
</head>
<body>
    <form method="POST" class="post-form">
    	{% csrf_token %}
  
        <h1>New test-case</h1>
        <hr>
        <a href="/" class="save btn btn-danger" onclick="return confirm('Несохранённые изменения будут удалены. Продолжить?');">Cancel</a>
        <button type="submit" class="save btn btn-success">Save</button>
        <br>
        <hr>
        <div class="box">
          {{ form.as_p }}
        </div>
        
        <hr>

	      <TABLE label for="sr" id="dataTable" width="100%" border="0" class="steps_results" style="display: none;">
	        <tr>
	            <th scope=«col» style="width: 50px;"></th>
	            <th scope=«col»>Steps</th>
	            <th scope=«col»>Results</th>
	        </tr>
	    </TABLE>
    </form>
  <br>
  <button type="button" class="btn btn-info" onclick="addRow('dataTable')">Add step</button>
  <button type="button" class="btn btn-warning" onclick="deleteRow('dataTable')">Delete step</button>
  <hr>
  <!-- <button type="button" class="btn btn-info" onclick="hide_show_table('dataTable')">Hide table</button> -->

</body>
</html>
{% endblock %}
